 <div class="user-details">
  <h1>{{site.username}}</h1>
  <p> {{site.user_description}} </p>
  <a aria-label="Buy Book" href="https://www.amazon.com/Software-defined-Radio-Engineers-Travis-Collins/dp/1630814571"><i class="icon fa fa-amazon" title="Buy the Book"></i> Buy the book</a>
  <a aria-label="Buy Pluto" href="https://shoppingcart.analog.com/AddModel.aspx?ACTION=BUY_BUNDLES&modelNbr=ADALM-PLUTO"><i class="icon fa fa-long-arrow-up" title="Buy the Pluto SDR"></i> Buy the Pluto SDR</a> 
</div>
  <div class="user">
    <div class="tech">
      <h2>Flipped Classroom</h2>
      <a aria-label="Slides on " href="https://speakerdeck.com/rgetz" target="_blank"><i class="icon fa fa-slideshare"></i></a>
      <a aria-label="Lectures on YouTube" href="https://www.youtube.com/playlist?list=PLBfTSoOqoRnOTBTLahXBlxaDUNWdZ3FdS" target="_blank"><i class="icon fa fa-youtube"></i></a>
      <a aria-label="Questions" href="https://www.github.com/sdrforengineers" target="_blank"><i class="icon fa fa-file-pdf-o"></i></a>
      <a aria-label="Questions" href="https://www.github.com/sdrforengineers" target="_blank"><i class="icon fa fa-github"></i></a>
      <p>Find slides, lectures, end of chapter questions, and MATLAB code.
      </p>
    </div>
    <div class="tech">
      <h2>Laboratory Experiments</h2>
      <a aria-label="Questions" href="https://www.github.com/sdrforengineers" target="_blank"><i class="icon fa fa-file-pdf-o"></i></a>
      <a aria-label="Questions" href="https://www.github.com/sdrforengineers" target="_blank"><i class="icon fa fa-github"></i></a><br>
      <a aria-label="Lectures on YouTube" href="https://www.youtube.com/playlist?list=PLBfTSoOqoRnOTBTLahXBlxaDUNWdZ3FdS" target="_blank"><i class="icon fa fa-youtube"></i></a>
      <p>Find student lab guides, MATLAB templates for Labs, and YouTube videos</p>
    </div>
    <div class="tech">
      <h2>Faculty</h2>
      <a aria-label="Questions" href="https://www.github.com/sdrforengineers" target="_blank"><i class="icon fa fa-github"></i></a>
      <a aria-label="Questions" href="https://www.github.com/sdrforengineers" target="_blank"><i class="icon fa fa-github"></i></a><br>
      <a aria-label="Questions" href="https://www.github.com/sdrforengineers" target="_blank"><i class="icon fa fa-github"></i></a>
      <a aria-label="Questions" href="https://www.github.com/sdrforengineers" target="_blank"><i class="icon fa fa-github"></i></a>
      <p>Find latex source for slides, and end of chapter questions, and answer keys, lab manual for TAs</p>
    </div>
</div>
